extends ./layout.jade

block head
	script(src=isDevelopment ? '/scripts/adminApp.bundle.js' : '/scripts/adminApp.bundle.min.js')

block content
	div(ng-app="blagAdminApp")
		header
			nav.admin-navigation
				form(id="logout-form", method="post", action="/logout")
					a.admin-navigation-home(href="/") Blag Admin
					
					input.admin-navigation-logout.button(type="submit", placeholder="placeholder" value="Log Out")
		ui-view.content
