<div ng-controller="BlogAdminController as ctrl" class="blogPostEditHeader">

	<div ng-repeat="blogPost in ctrl.blogPosts">
		<h2 class="blogPostEditHeader-title">{{blogPost.title}}</h2> 
		<span class="blogPostEditHeader-date">{{blogPost.date | date:'short'}}</span>
		<button class="button" ui-sref="editPost({id: blogPost.id})">Edit</button>
		<button class="button" ng-click="ctrl.deletePost(blogPost)">Delete</button>
	</div>

	<button class="button blogPostEditHeader-newPostButton" ui-sref="newPost">New Post</button>
</div>