<h1>Archive</h1>

<div ng-controller="ArchiveController as ctrl">
	<ul class="archive-months">
		<li ng-repeat="month in ctrl.months" class="archive-month">
			<i class="fa archive-monthToggle"
				ng-click="month.collapsed = !month.collapsed" 
				ng-class="{'fa-chevron-down': month.collapsed, 'fa-chevron-up': !month.collapsed}"></i>
			{{month.text}}
			<ul ng-show="month.collapsed">
				<li ng-repeat="post in month.posts">
					<a ui-sref="blogPost({id:post.id})">{{post.title}}</a>
				</li>
			</ul>
		</li>
	</ul>
</div>